<form action="" class="not-chosen">
    <label for="question" class="required">
        <span class="labelText"><%-lang.form.simpleTask.question%></span>
        <textarea name="question" id="question" rows="7"></textarea>
    </label>
    <label for="max-mark">
        <span class="labelText"><%-lang.form.simpleTask.maxMark%></span>
        <input type="number" name="max-mark" id="max-mark" value="1">
    </label>
    <label for="req-min">
        <span class="labelText"><%-lang.form.simpleTask.timeForTask%></span>
        <span class="labelText"><input type="number" name="req-min" id="req-min"><%-lang.minutes%><input type="number" name="req-sec" id="req-sec"><%-lang.seconds%></span>
    </label>
</form>
<p></p>