<table>
    <caption><%-lang.table.cap%></caption>
    <thead>
        <tr>
            <td><%-lang.table.firstCol%></td>
            <td><%-lang.table.secondCol%></td>
            <td><%-lang.table.thirdCol%></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td><span class="question-container"></span></td>
            <td></td>
        </tr>
        <tr>
            <td>2</td>
            <td><span class="question-container"></span></td>
            <td></td>
        </tr>
        <tr>
            <td>3</td>
            <td><span class="question-container"></span></td>
            <td></td>
        </tr>
        <tr>
            <td>4</td>
            <td><span class="question-container"></span></td>
            <td></td>
        </tr>
        <tr>
            <td>5</td>
            <td><span class="question-container"></span></td>
            <td></td>
        </tr>
    </tbody>
</table>
<p id="time-test"><%-lang.table.timeForTest%> <span id="test-min"></span><span id="test-sec"></span></p>